#this is an example of the .env.dev file
#copy this file to .env.dev and fill in the values
#this file is used to store the environment variables for the development environment

#Cognito Configuration
USER_POOL_ID=
CLIENT_ID=

#AWS Configuration
REGION_NAME=us-east-1 #change if needed